*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background Clour */
    --bg-primary-color:rgb(17, 15, 15);
    --bg-fill-color:rgb(223, 235, 178);
    --bg-food-color: rgb(89, 113, 25);

    /* Text Color */
    --text-primary-color:rgb(237, 207, 207);

    /* Spacing */
    --space-xs:4px;
    --space-s:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colors */
    --border-primary-color:#333333;

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-lg:12px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
}

.btn{
    padding:var(--space-s) var(--space-md) ;
    border-radius: var(--border-radius-sm);
    border: 5px double rgb(128, 128, 47);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}


section{
    padding:var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-s) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
     /* it is a function in css that we can not get value below 30px and 1fr means 1 fraction */
    grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
}
.block{
    border: 1px solid var(--border-primary-color);
    border-radius: 10px;
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.model{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.model .start-game,
.model .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.model .game-over{
    display: none;
}